<!DOCTYPE html>
<html>
<head>
    <title>ResuScan App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="app-bg">

<!-- TOP -->
<div class="top-bar">
    <span class="menu-icon" onclick="openSidebar()">☰</span>
    <h3>ResuScan</h3>
</div>

<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <span class="close-btn" onclick="closeSidebar()">×</span>

    <h3>Hi, {{ user }}</h3>

    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</div>

<!-- MAIN -->
<section class="container center">

<h1>Resume Analyzer</h1>
<p>Upload your resume and get AI-based prediction</p>

<form action="/predict" method="post" enctype="multipart/form-data" class="upload-box">

<label class="file-btn">
Select Resume
<input type="file" name="resume" id="fileInput" required>
</label>

<button type="submit" class="analyze-btn">Analyze</button>

</form>

<p id="fileName" class="center"></p>

{% if result %}
<h2 class="result center">{{ result }}</h2>
{% endif %}

</section>

<footer>
© 2026 ResuScan <br>
Email: support@resuscan.com
</footer>

<script>
function openSidebar(){
document.getElementById("sidebar").style.left="0";
}
function closeSidebar(){
document.getElementById("sidebar").style.left="-260px";
}

document.getElementById("fileInput").addEventListener("change",function(){
document.getElementById("fileName").innerText=this.files[0].name;
});
</script>

</body>
</html>