<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="app-bg">

<div class="container">

    <h1>Edit Profile</h1>

    <form method="post" class="upload-box" style="flex-direction: column; align-items: center;">

        <input type="text" name="name" value="{{ name }}" required>
        <input type="text" name="phone" value="{{ phone }}" required>

        <input type="email" value="{{ email }}" disabled>

        <button type="submit" class="analyze-btn">Save Changes</button>

    </form>

</div>

</body>
</html>